:root {
    --bs-primary: rgb(190, 42, 42) !important;
}

.subjectPopup{
    width: 200%;
}

body,
    html {
        background: rgb(231 236 240);
    }

    .header {
        height: 57px;
        box-shadow: rgba(0, 0, 0, 0.251) 0px 3px 5px;
    }

    .header-content {
        margin: 0 150px;
    }

    .avt-user {
        width: 28px;
    }

    .header-left-content {
        width: 36%;
    }

    .page-content {
        margin: 70px 150px 0 150px !important;
        box-shadow: rgba(50, 50, 93, 0.653) 0px 2px 5px -1px, rgba(0, 0, 0, 0.584) 0px 1px 3px -1px;
    }